datasets/raw 
notebooks/.ipynb_checkpoints
gantt.py  
gantt.xls 
MODEL.PY 
newplot.png
PPT.pptx
datasets/processed
server/__pycache__
server/yellow_final_3.parquet
notebooks/ETL_yellow_herlin.ipynb
src/*.jpg
vis/*.jpg