datasets/raw 
notebooks/.ipynb_checkpoints
notebooks/.cache.sqlite
gantt.py  
gantt.xls 
MODEL.PY 
newplot.png
PPT.pptx
datasets/processed
server/yellow_final_3.parquet
notebooks/ETL_yellow_herlin.ipynb
src/*.jpg
pfenv
venv/
server/.env
notebooks/.env
clientapp/
server/.cache.sqlite
server/__pycache__
.cache.sqlite
notebooks/loaddata.ipynb
streamlit-test/
streamlit/
datasets/models/*.pkl
notebooks/.test.ipynb
notebooks/04_loaddata.ipynb
datasets/models/modelo_rf.parquet
datasets/models/df_selected.csv
